{deps, [{abnfc, ".*",
        {git, "git://github.com/heroku/abnfc.git", {branch, "master"}}}]}.

{plugins, [
   {rebar3_abnfc_plugin, ".*",
    {git, "https://github.com/surik/rebar3_abnfc_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
                  {pre,
                   [
                    {compile, {abnfc, compile}}
                   ]
                  }
                 ]}.